body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  height: 100%;
}
div {
  box-sizing: border-box;
}
.list-hd {
  height: 44px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: orange;
  text-align: center;
  line-height: 44px;
  color: #fff;
  z-index: 1;
}
.s-top-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 60px;
  width: 60px;
  /* background-color: green; */
  background: url(../img/rocket.png) no-repeat 0 0/100% 100%;
  opacity: 0.6;
}

.s-top-btn:hover {
  opacity: 1;
}
