.container {
  margin-top: 44px;
  padding: 10px;
  line-height: 25px;
  color: #424242;
}
.s-top-btn {
  bottom: 100px;
}
.play-btn {
  height: 60px;
  width: 60px;
  background-color: orange;
  position: fixed;
  bottom: 25px;
  right: 25px;
  border-radius: 50%;
  background: orange url("./../img/play.png") no-repeat 20px 20px/25px 25px;
  opacity: 0.6;
  cursor: pointer;
}
.play-btn:hover {
  opacity: 1;
}
